@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* font-family: 'Comfortaa', cursive; */

* {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    box-sizing: border-box;
    flex-wrap: wrap;
}
head {
    background-image: url(./assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 20px;
}
body {
    background-image: url(./assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#logo-ranking-politicos {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
}

#logo-ranking-politicos img {
    border: 1px solid #F2DCB3;
    width: 200px;
    padding: 5px;
    border-radius: 8px;
    background-color: #F2DCB3;
    align-items: center;
    align-content: center;
    text-align: center;
}

#titulo {
    text-align: center;
    padding: 10px;
}

#titulo h1 {
    padding: 10px;
    font-weight: 700;
    color: #F2DCB3;
}

#selecao {
    display: flex;
    gap: 50px;
    padding: 10px;
    justify-content: center;
}

#selecao a {
    text-align: center;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: #F2DCB3;
}

#selecao a h3 {
    text-align: center;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: #F2DCB3;
    background-color: #F2A413;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#selecao a img {
    margin: 20px 100px;
    padding: 10px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

#selecao a img:hover {
    border-radius: 20px;
    transition: all 0.5s;
    padding: 10px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#grafico iframe{
    width: 100%;
    height: 800px;
    padding: 100px;
}